<?xml version="1.0"?>
<adios-config>
    <io name="imstat_adios_reader">
        <engine type="BPFile">
            <parameter key="Threads" value="0"/>
        </engine>
        <transport type="File">
            <parameter key="Library" value="fstream"/>
            <parameter key="ProfileUnits" value="Milliseconds"/>
        </transport>
    </io>
</adios-config>